*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

nav{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.navRight{
  display: flex;
  align-items: center;
  position: relative;
}

.nav-left{
  display: flex;
  align-items: center;
}

.logo > img{
  width: 200px;
}

.account > a{
  text-decoration: none;
  display: inline-block;
  margin-left:10px;
  color: black;
  font-size:1.4rem;
}
.account > a:last-child{
  color: #8c8e8f;
}
.navRight > ul > li{
  display: inline-block;
  margin-right:10px;
  color: #8c8e8f;
  font-size: 1.4rem;


}

.btn > button {
  padding-left: 10px;
  padding-right: 10px;
  background-color: pink;
  color: #fff;
  font-size:1.2rem;
  border-radius: 50px;
}

li{
  list-style-type: none;
}

.help{
  font-size:1.2rem;
  color: #8c8e8f;
  box-shadow: 0px 5px 5px 5px lightgrey;
  position: absolute;
  top: 90px;
  right:180px;
  display: none;
}

.help > ul > li{
  margin:10px 30px;
}

.mission{
  font-size:1.2rem;
  color: #8c8e8f;
  box-shadow: 0px 5px 5px 5px lightgrey;
  position: absolute;
  top: 90px;
  right:240px;
  display: none;
}
.mission > ul > li{
  margin:10px 30px;

}
.product{
  font-size:1.2rem;
  color: #8c8e8f;
  box-shadow: 0px 5px 5px 5px lightgrey;
  position: absolute;
  top: 90px;
  right:320px;
  display: none;
}
.product > ul > li{
  margin:10px 30px;
}

.lang{
  font-size:1.2rem;
  color: #8c8e8f;
  box-shadow: 0px 5px 5px 5px lightgrey;
  position: absolute;
  top: 90px;
  right:120px;
  display: none;
}
.lang > ul > li{
  margin:10px 30px;
}

.cost{
  min-width:800px;
  font-size:1.2rem;
  color: #8c8e8f;
  box-shadow: 0px 5px 5px 5px lightgrey;
  position: absolute;
  top: 90px;
  right:150px;
  display: none;
}
.cost > ul{
  vertical-align: top;
  display: inline-block;
  text-align:center;
  margin:10px 30px;
}
.cost > ul > li{
    margin:10px 30px;

}
.rotate{
  transform: rotate(180deg);
}
